* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    background-color: rgb(230,230,230);
}

.container {
    justify-content: center;
    height: 500px;
    width: 300px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px 5px #888;
}
h2, p{
    margin-top: 10px;
}

h2{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.newBtn > button {
    text-align: left;
    margin-top: 10px;
    padding: 5px;
    border-radius: 40px;
    border: none;
    background-color: #c8c5c5;

}

img {
    border-radius: 10px;
}

.readBtn {
   margin: 30px;
    position: relative;
}
.read{
    margin: 0;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    margin-top: 20px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #87ceeb;
    color: #2b8cee;
    font-weight: bold;
    border: none;
}
.read:hover{
    border: 1px solid #2b8cee;
    background-color: white;
    padding: 15px;
}

.container:hover{
    justify-content: center;
    height: 500px;
    width: 300px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 10px 5px #8888;
}